.sidebar {
  background: rgb(115, 55, 255);
  height: 100vh;
  z-index: 2;
}
.sidebar-menu {
  margin-bottom: 40px;
  margin-top: 20px;
}
.genre-submenu {
  background: rgb(209, 191, 251);
}
.genre-hovered {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.overlay {
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
