body {
  margin: 0px;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: var(--gradient-bg);
  font-size: 24px;
}
.App {
  display: flex;
  flex-direction: row;
}

.navbar-container {
  position: fixed;
  overflow: hidden;
  z-index: 2;
}

.main-container {
  position: relative;
  margin: 4px 4px 4px 86px;
  height: 98vh;
  width: 100%;
}
